@import 'tailwindcss';
@import '@nuxt/ui';

:root {
  --ui-container: var(--container-8xl);
}
.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
}
